/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
body {
  min-height: 100vh;
} */
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* ------------------------------------------------------------ */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: hsl(225, 100%, 94%);

  font-family: 'Red Hat Display', sans-serif;
}

main {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;

  background-color: white;

  border-radius: 15px;
}

.image-container {
  border-radius: inherit;
}

.image-container img {
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2.5rem;
}

.info-container h1 {
  font-size: 22px;
  font-weight: 900;

  margin-bottom: 0.8rem;

  color: hsl(223, 47%, 23%);
}

.info-container p {
  font-size: 13px;
  color: hsl(224, 23%, 55%);
  text-align: center;

  margin-bottom: 0.8rem;
}

.plan-details {
  background-color: hsl(225, 100%, 98%);
  width: 100%;
  border-radius: 13px;
  padding: 1rem;

  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan-left-content {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.plan-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin-left: 1rem;
}

.plan-text span:nth-of-type(1) {
  font-weight: 900;
  font-size: 13px;

  color: hsl(223, 47%, 23%);
}

.plan-text span:nth-of-type(2) {
  font-size: 12px;
  color: hsl(224, 23%, 55%);
}

.plan-right-content a {
  color: hsl(245, 75%, 52%);
  font-size: 11px;
}

.plan-right-content a:hover {
  color: #766cf1;
  text-decoration: none;
}


.card button {
  font-size: 12px;
  font-weight: 900;
  width: 100%;
  border-radius: 10px;
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  cursor: pointer;
}

.card button:nth-of-type(1) {
  background-color: hsl(245, 75%, 52%);
  color: white;
  box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.2);
}

.card button:nth-of-type(1):hover {
  background-color: #766cf1;
}

.card button:nth-of-type(2) {
  background-color: transparent;
  color: hsl(224, 23%, 55%);
  margin-top: 1rem;
}

.card button:nth-of-type(2):hover {
  color: hsl(223, 47%, 23%);
}